<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>ProveedorUsuario</title>
    <link rel="stylesheet" href="/css/ProvU.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <form class="form-Super">
    <label class="labelU" for="">PROVEEDOR</label>
    <br>
    <br>
    <label class="label" for="">NIT</label>
    <br>
    <input class="form-control" type="number" name="NIT" id="NIT" placeholder="" required autocomplete="on" autocapitalize="on">
    <br>
    <label class="label" for="">ID </label>
    <br>
    <input class="form-control" type="number" name="id" id="id" placeholder="" required autocomplete="on" autocapitalize="on">

    <br>
    <div class="row">
    <div class="col">
    <label for="">Nombres</label>
    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="" required autocomplete="on" autocapitalize="on">
    </div>
    <div class="col">
    <label for="">Apellidos</label>
    <input class="form-control" type="text" name="apellidos" id="apellidos" placeholder="" required autocomplete="on" autocapitalize="on">
    </div>
    </div>
    <br>

    <!-- <div class="row">
    <div class="col">
    <label for="">Dirección</label>
    <input class="form-control" type="text" name="Direccion" id="Direccion" placeholder="" required autocomplete="on" autocapitalize="on">
    </div>
    <div class="col">
    <label for="">Ciudad</label>
    <input class="form-control" type="text" name="Ciudad" id="Ciudad" placeholder="">
    </div>
    </div> -->

    <!-- <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
        </div>
      </div> -->
      
      <div class="row">
        <div class="col">
        <label for="">Ciudad</label>
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="" required autocomplete="on" autocapitalize="on">
        </div>
        <div class="col">
        <label for="">Departamento</label>
        <input class="form-control" type="text" name="apellidos" id="apellidos" placeholder="" required autocomplete="on" autocapitalize="on">
        </div>
        </div>
      

    <br>
    <div class="col-sm-13 my-3">
    <label class="sr-only" for="inlineFormInputGroupUsername"> Email </label>
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
    <input class="form-control" type="text" name="Email" id="inlineFormInputGroupUsername" placeholder="email@example.com" required autocomplete="on" autocapitalize="on">
</div>
</div>
    <br>
 
    <br>
    <input class="btn-orange" type="submit" value="Consultar">
    <input class="btn-blue" type="submit" value="Actualizar">

      
   </form>
</body>
</html>