<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Estilo6.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <h1>Provedor</h1>
    <br><br><br>
    <section class="formUsuario">
    <form action="#">
        
        <div class="Fields1">  <!--este es para organbizar nuestro bloques-->  
            <label for="nitprovedor">Nit Proveedor</label>
            <input type="number" class="controless2" placeholder="nit" name="nitprovedor" id="nitprovedoruired"> <!--aca es donde se ingresan los datos-->
        </div>
        <br><br>
        <div class="Fields">  <!--este es para organbizar nuestro bloques-->  
            <label for="nombres">Nombre</label>
            <input type="text" class="controless2" placeholder="nombre" name="nombres" id="nombres" required><!--aca es donde se ingresan los datos-->
        </div>
        <br><br>
        <div class="Field">  <!--este es para organbizar nuestro bloques-->  
            <label for="ciudad">Ciudad</label>
            <input type="text" class="controless1" placeholder="ciudad" name="ciudad" id="ciudad" required><!--aca es donde se ingresan los datos-->
        </div>
        
        <div class="Field">  <!--este es para organbizar nuestro bloques-->  
            <label for="email">Email</label>
            <input type="email" class="controless1" placeholder="email" name="email" id="email" required><!--aca es donde se ingresan los datos-->
        </div>
        

        <div class="FieldButton" >
            <button type="submit" class="btn btn-success">Crear</button>        
            <button type="submit"class="btn btn-warning">Consultar </button>    
            <button type="submit"class="btn btn-info">Actualizar</button>
            <button type="submit"class="btn btn-danger">Eliminar</button>
        </div>
           
    </form>
</section>
    
</body>
</html>