<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/look.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="login">
        <h5>Log in to Ferrari</h5>
        <input class="Control" type="text" name="inputUsuario" id="inputUsuario" placeholder="usuario" required autocomplete="on" autocapitalize="on">
        <br>
        <input class="Control" type="password" name="inputpass" id="inputpass" minlength="8">
     
        <br>
        <input class="btn btn-dark" class="Buttons" type="submit" name="" value="Iniciar sesión">
        <p><a href="#">Olvidaste tu contrasena?</a></p>
        
    </section>

</body>
</html>