<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="/css/loginAdmin.css">
</head>
<body>
    <section class="form-login">
        <h5>Inicio Sesion SuperAdmin</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="contraseña">
        <input class="buttons" type="submit" value="ingresar">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </section>
</body>
</html>